@import '~antd/dist/antd.css';

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(36, 35, 35); 
  border-radius: 10px;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
    text-shadow: unset;
}

.ant-spin-blur {
    opacity: 0.05;
}

body {
    user-select: none;
    overflow-x: hidden;
}

